# Site settings
title: josh holder
email: josh.holder72@gmail.com
description: >-
  spacecraft engineer | ai researcher | systems thinker
github_username: josh-holder
search: false

# Build settings
markdown: kramdown
kramdown:
  toc_levels: 2..3
  input: GFM
  auto_ids: true

# Outputting
permalink: /:categories/:title/
timezone: America/Los_Angeles

include:
  - _pages

# Plugins
plugins:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag

# Author
author:
  name: "josh holder"
  email: "josh.holder72@gmail.com"

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      show_date: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: page

# Tag archive
tag_archive:
  type: liquid
  path: /tags/

# Collections
collections:
  creations:
    output: true
    permalink: /:collection/:path/

# Sass settings
sass:
  style: compressed
