<footer class="site-footer">
  <hr class="divider">
  <div class="footer-content">
    <p class="footer-links">
      [<a href="https://github.com/josh-holder">github</a>] /
      [<a href="https://www.linkedin.com/in/joshua-holder-798386155/">linkedin</a>] /
      [<a href="https://scholar.google.com/citations?view_op=list_works&hl=en&user=H9c37N4AAAAJ">scholar</a>] /
      [<a href="mailto:josh.holder72@gmail.com">email</a>]
    </p>
    <p class="copyright">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
  </div>
</footer>
