---
---

@import "minimal-mistakes";

html {
    font-size: 4px; // change to whatever
  
    @include breakpoint($medium) {
      font-size: 4px; // change to whatever
    }
  
    @include breakpoint($large) {
      font-size: 6px; // change to whatever
    }
  
    @include breakpoint($x-large) {
      font-size: 8px; // change to whatever
    }
  }